
<div>
    <h1><%= @user.email %></h1>

    <% if @user.events.length() > 0%>
        <h4>My Created Events</h4>

        <ul>
            <% @user.events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                </li>
            <% end %>
        </ul>

        <h4>Previously attended events</h4>

        <ul>
            <% @past_events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                </li>
            <% end %>
        </ul>

        <h4>Upcoming events</h4>

        <ul>
            <% @upcoming_events.each do |event| %>
                <li>
                    <%= link_to event.title, event %>
                </li>
            <% end %>
        </ul>

    <% end %>

</div>
